{{define "title"}}{{.ContentType}} - {{.Site.Title}}{{end}}
{{define "meta-description"}}{{.Site.Description}}{{end}}

{{define "content"}}
<h1 class="page-heading"><span class="prefix">~/</span>{{.ContentType}}</h1>
{{if .Posts}}
<ul class="post-list">
  {{range .Posts}}
  <li>
    <h2><a href="{{.Type}}/{{.Slug}}/">{{.Title}}</a></h2>
    {{if not .Date.IsZero}}<time datetime="{{.Date.Format "2006-01-02"}}">{{.Date.Format "January 2, 2006"}}</time>{{end}}
    {{if .Description}}<p class="desc">{{.Description}}</p>{{end}}
    {{if .Tags}}<div class="tags">{{range .Tags}}<a href="tags/{{.}}/" class="tag">{{.}}</a>{{end}}</div>{{end}}
  </li>
  {{end}}
</ul>
{{else}}
<p>No {{.ContentType}} yet.</p>
{{end}}
{{end}}
